{
  "port": 8080,    --port that this service listens on               
  "authCode": "secret-key",  --header authentication code
  "requireAuth": false, --enforce header check
  "envisalink": {
    "address": "192.168.12.218",    --ip address of the envisalink device
    "port": "4025", --port to connect to, shouldn't need to change ever              
    "password": "user",  --envisalink password
    "securityCode": "1234", --passcode to arm/disarm panel
    "dumpZoneTimer": "0", 
    "panelConfig": {              
      "type": "discover",
      "partitions": [
        {"partition": 1, "name": "Security Panel", "type": "panel", "deviceId": "156"}
      ],
      "zones": [ --enter all zones and set deviceId 
        {"zone": 1, "type": "smoke", "name": "Smoke Detector"},
        {"zone": 10, "type": "contact", "name": "Front Door", "deviceId": "152"},
        {"zone": 11, "type": "contact", "name": "Back Door", "deviceId": "153"},
        {"zone": 12, "type": "motion", "name": "Dining Room", "deviceId": "151"},
        {"zone": 13, "type": "motion", "name": "Living Room", "deviceId": "154"},
        {"zone": 14, "type": "motion", "name": "Basement", "deviceId": "155"}
      ]
    }
  },   
  "statusConfig": {    
      "baseUrl": "http://VERAIPADDRESS:3480/data_request?id=action&output_format=json&DeviceNum=",
      "motion": { 
        "open":"&serviceId=urn:dcineco-com:serviceId:VMotion1&action=SetTripped",
        "closed":"",
        "status":"&serviceId=urn:micasaverde-com:serviceId:SecuritySensor1&Variable=Tripped"
      },
      "contact": { 
        "open":"&serviceId=urn:upnp-org:serviceId:SwitchPower1&action=SetTarget&newTargetValue=0",
        "closed":"&serviceId=urn:upnp-org:serviceId:SwitchPower1&action=SetTarget&newTargetValue=1",
        "status":"&serviceId=urn:upnp-org:serviceId:SwitchPower1&Variable=Status"
      },
      "panel": { 
        "ready":"&serviceId=urn:upnp-org:serviceId:SwitchPower1&action=SetTarget&newTargetValue=1",
        "notready":"&serviceId=urn:upnp-org:serviceId:SwitchPower1&action=SetTarget&newTargetValue=0",
        "status":"&serviceId=urn:upnp-org:serviceId:SwitchPower1&Variable=Status"
      }
  }
}